
{% extends "layout.html" %}
{% block content %}
  <h1>Progress</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Character</th>
        <th>Read (Days Ago)</th>
        <th>Write (Days Ago)</th>
        <th>Read Retrievability</th>
        <th>Write Retrievability</th>
        <th>Read Due In (Days)</th>
        <th>Write Due In (Days)</th>
      </tr>
    </thead>
    <tbody>
      {% for char, scores in progress_data.items() %}
        <tr>
          <td>{{ char }}</td>
          <td>
            {% for record in scores.read.records %}
              <span class="{{ record.color }}">{{ record.days_ago }}</span>&nbsp;
            {% endfor %}
          </td>
          <td>
            {% for record in scores.write.records %}
              <span class="{{ record.color }}">{{ record.days_ago }}</span>&nbsp;
            {% endfor %}
          </td>
          <td>{{ scores.read.retrievability }}</td>
          <td>{{ scores.write.retrievability }}</td>
          <td>{{ scores.read.due_in_days }}</td>
          <td>{{ scores.write.due_in_days }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
