<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Fun Hanzi{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Fun Hanzi</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'exam_history' %}"
            class="nav-link {% if request.resolver_match.url_name == 'exam_history' %}active{% endif %}">Exam</a></li>
        <li class="nav-item"><a href="{% url 'study_history' %}"
            class="nav-link {% if request.resolver_match.url_name == 'study_history' %}active{% endif %}">Study</a></li>

        <li class="nav-item"><a href="{% url 'show_stats' %}"
            class="nav-link {% if request.resolver_match.url_name == 'show_stats' %}active{% endif %}">Stats</a></li>
        <li class="nav-item"><a href="{% url 'lesson_list' %}"
            class="nav-link {% if request.resolver_match.url_name == 'lesson_list' %}active{% endif %}">Lessons</a></li>
      </ul>
    </header>

    {% block content %}{% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>