{% extends "studies/base.html" %}

{% block title %}Monthly Stats{% endblock %}

{% block content %}
<h1>Monthly Stats</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Month</th>
      <th>Total Reviews This Month</th>
      <th>Total Studies This Month</th>
      <th>Cumulative Unique Chars</th>
      <th>Read - Mastered (>90%)</th>
      <th>Read - Learning (60-90%)</th>
      <th>Read - Lapsing (<60%)< /th>
      <th>Read - Hard</th>
      <th>Write - Mastered (>90%)</th>
      <th>Write - Learning (60-90%)</th>
      <th>Write - Lapsing (<60%)< /th>
      <th>Write - Hard</th>
    </tr>
  </thead>
  <tbody>
    {% for s in stats %}
    <tr>
      <td>{{ s.month }}</td>
      <td>{{ s.total_reviews }}</td>
      <td>{{ s.total_studies }}</td>
      <td>{{ s.cumulative_unique_chars }}</td>
      <td>{{ s.read_mastered }}</td>
      <td>{{ s.read_learning }}</td>
      <td>{{ s.read_lapsing }}</td>
      <td>{{ s.read_hard }}</td>
      <td>{{ s.write_mastered }}</td>
      <td>{{ s.write_learning }}</td>
      <td>{{ s.write_lapsing }}</td>
      <td>{{ s.write_hard }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}